// Iterate collection and fill div with items - this isnt right. will fix							
var id = 0;
selectionList = {};

{% set ppages = envpages %}
{% set gloader = page.header.gloader %}

{% for env in ppages %}

    {% set mediaasset = env.asset|striptags %}
    {% set env_icon = env.path ~ "icon.png" %}

    {# var child = "<div class='selection-item' uid='" + id + "'>";
    child = child + '{{ env_icon }}' + "<div>{{ env.name }}</div></div>"; #}

    var child = "<div class='d-md-inline-block'>";
    child = child + "<div class='selection-item clearfix d-none d-md-block' uid='" + id + "'>";
    child = child + '<div class="card">';

    var img = '{{ env_icon }}';
    if(img.length < 1) { img = '<img width=200 height=150 src="/images/placeholder.jpg">'; }
    child = child + img;
    child = child + '<div class="select-card-body">' + "{{ env.name }}</div></div></div></div>";

    // Add click for loading in the data
    var data = {
        name: "{{ env.name }}",
        format: "{{ env.format }}",
        json: "{{ env.json }}",
        loadscene: "{{ env.loadscene }}",
        url: "{{ env.path }}",
        gloadscene: "{{ gloader }}",
        child: child
    };

    selectionList[id] = data;
    id = id + 1;
{% endfor %}

