
{% set username = grav.user.username %}
{% set query = "select name,uid,desc from projects where users like " ~ username %}
{% set results = projects %}


{% for pp in results %}  
{% if pp %}

        {% set randomscene = random(pp.scenes) %}
        {% set icondb = loadicon(randomscene.icon) %}
                <div class="col-sm-6">
                <div class="card">
                    <div class="card-header" style="justify-content: space-between;">
                    <div class="leftside col-sm-9"><h3>{{ pp.name }}</h3></div>
                    <div class="rightside col-sm-3">
                    <a href="/project?projectid={{pp.uid}}">                        
<i class="fe fe-edit" style="font-size: 1.5rem;"></i>  
                    </a>
                    </div>
                    </div>
                    <div class="card-body">
                    <h6>{{ pp.modified }}</h6>
                    <div class="row">
                        <div class="col-sm-6">{{ pp.desc }}</div>
                        <div class="col-sm-6 scene-card" onclick="location.href='/project?projectid={{pp.projectid}}'" id="{{ pp.uid|md5 }}">
                        <img src="data:image/png;base64,{{ icondb }}" />                        
                        </div>                    
                    </div>
                    </div>
                </div>
                </div>
{% endif %}
{% endfor %}